<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!---<link rel="icon" href="../../favicon.ico"> -->


    <title>Champign Criminal Justice Open Data Portal</title>
    <style type="text/css">
      #head_navbars{background-color:#27374f;}
      #footer{height:250px;text-align:center;} 
      #logo{max-width:120px;height:120px;margin-bottom:15px;}
      #footerfont{font-size: 1em;text-transform:none;}
      #li{margin-bottom:5px;display:inline;}
      #body{padding-bottom:0rem}
      #annotation{margin-top:3rem;}

    </style>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/carousel.css') }}" rel="stylesheet">

    <!-- CSS for four icons -->
    <Link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <Link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">
    <Link href="{{ url_for('static', filename='css/hover_style10.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/hover_common.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" type="text/css">
    <Link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

  </head>

  <body style="padding-top:25px;" id="body">
    <!-- Title Bar -->  
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="head_navbars">
      <a class="navbar-brand" href="#">Racial and Criminal Justice in Champaign County</a>
    </nav>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" style="padding-top:150px;">

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="col-lg-4">
          <img class="rounded-circle" src="img/policing1.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2 style="margin-top: 15px; margin-bottom: 15px"> Policing </h2>
          <p> Policing visualization tools show the characteristics of arrested population in Champaign and Urbana, focusing on the racial breakdown of arrested individuals based on a number of variables, such as crime type, employment status, and ages of arrestees. </p>
          <p><a class="btn btn-secondary" href="policing.html" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <img class="rounded-circle" src="img/correctionalfacility.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2 style="margin-top: 15px; margin-bottom: 15px"> Correctional Facilities </h2>
          <p> Correctional facilities group allows users to monitor the local jail population in real time, visualize disparities in what happens to individuals after booking, understand who among these arrestees is unable to make bond, and follow trends in juvenile detention. </p>
          <p><a class="btn btn-secondary" href="jail.html" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-lg-4">
          <img class="rounded-circle" src="img/court.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2 style="margin-top: 15px; margin-bottom: 15px"> Courts </h2>
          <p> Court group visualizes disparities in charge and sentencing using case records scraped from the website of Circuit Clerk of Champaign County. The visualization tools allow users to see the racial breakdown of inmates charged with different charge types. </p>
          <p><a class="btn btn-secondary" href="court.html" role="button">View details &raquo;</a></p>
        </div>

      </div>


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"; id="annotation"> Policing<br> <span class="text-muted"> Arrested Population </span></h2>
          <p class="lead"> The policing group collected data on incidents, arrests, and reported crimes from each of the four police agencies that participate in the centralized police data management system including: City of Champaign, City of Urbana, U of I Police, and the Champaign County Sheriff. These data were provided by these local police agencies through a formal FOIA request. Arrests include police incidents in which an individual is charged with a violation of the law. This means the arrest data includes data for individuals who were issued citations and traffic tickets, along with individuals who were charged with more serious crimes.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="img/policing2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading"; id="annotation"> Correctional Facilities <span class="text-muted"> In-Jail Population </span></h2>
          <p class="lead"> The correctional facilities working group collected demographic information as well as legal data (e.g. bonds, charges, court dates, release dates, etc.) on inmates who were held in one of the county’s facilities beginning January 1, 2010 until September of 2016 (i.e., the date of the requests). They visualize the racial breakdown of population in correctional facilities in Champaign County and provide real-time numbers and interactive charts that allows users to 1) have easier access to legal data on inmates who were held in one of the county facilities and 2) get more insights on racial disparity in criminal justice system. </p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="img/correctionalfacility2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"; id="annotation"> Court <br> <span class="text-muted"> Court case records </span></h2>
          <p class="lead"> The court group works on court case records from Circuit Clerk of Champaign County. Since the FOIA request asking for records provided in the clerk’s online public access system hasn’t been responded, this group developed a series of scripts to 'scrape' the desired information from the Circuit Clerk of Champaign County website as a temporary work-around in hopes that the requested data will be provided at a future date. The court group visualizes disparities in charges and sentencing. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="img/court2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider", style="margin-bottom:1rem">

      <!-- /END THE FEATURETTES -->
      <footer class="footer ng-scope" id="footer", style="background-color:rgb(255,255,255);">
        <div class="container">
          <img class="logo" src="img/countySeal.png" id="logo">
          <ul class="list-inline" id="ul">
            <li id="li"><a target="_blank" href="http://www.co.champaign.il.us/HeaderMenu/Home.php">Champaign County Racial Justice Task Force</a></li>
            <li id="li"><a target="_blank" href="http://www.urban.illinois.edu/">UIUC Department of Urban and Regional Planning</a></li>
            <li id="li"><a href="mailto:yuyan.huang.pku@gmail.com">Web Builder Yuyan Huang</a></li>
          </ul>
        </div>
      </footer>

    </div><!-- /.container -->

   <!-- Bootstrap core Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <!-- Javascript for four icons -->  
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>

  </body>
</html>

